@model IBasePagedList
@{
    var previousPageActiveClass = Model.HasPreviousPage ? "" : "disabled";
    var nextPageActiveClass = Model.HasNextPage ? "" : "disabled";
}

<div class="row">
    <div class="col-sm-12">
        <div class="dataTables_paginate paging_simple_numbers" id="table_paginate">
            <ul class="pagination">
                <li class="paginate_button page-item previous @(previousPageActiveClass)" id="table_previous">
                    <a href="#" aria-controls="table" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                </li>

                @if (Model.PageIndex - 2 > 0)
                {
                    <li class="paginate_button page-item">
                        <a href="#" aria-controls="table" data-dt-idx="1" tabindex="0" class="page-link">@(Model.PageIndex - 2)</a>
                    </li>
                }
                @if (Model.PageIndex - 1 > 0)
                {
                    <li class="paginate_button page-item">
                        <a href="#" aria-controls="table" data-dt-idx="1" tabindex="0" class="page-link">@(Model.PageIndex - 1)</a>
                    </li>
                }

                <li class="paginate_button page-item active">
                    <a href="#" aria-controls="table" data-dt-idx="1" tabindex="0" class="page-link">@(Model.PageIndex)</a>
                </li>

                @if (Model.PageIndex + 1 < Model.TotalPages)
                {
                    <li class="paginate_button page-item">
                        <a href="#" aria-controls="table" data-dt-idx="1" tabindex="0" class="page-link">@(Model.PageIndex + 1)</a>
                    </li>
                }
                @if (Model.PageIndex + 2 < Model.TotalPages)
                {
                    <li class="paginate_button page-item">
                        <a href="#" aria-controls="table" data-dt-idx="1" tabindex="0" class="page-link">@(Model.PageIndex + 2)</a>
                    </li>
                }
                @if (Model.PageIndex + 3 < Model.TotalPages)
                {
                    <li class="paginate_button page-item">
                        <a href="#" aria-controls="table" class="page-link">...</a>
                    </li>
                    <li class="paginate_button page-item">
                        <a href="#" aria-controls="table" data-dt-idx="1" tabindex="0" class="page-link">@(Model.TotalPages)</a>
                    </li>
                }
                
                <li class="paginate_button page-item next @(nextPageActiveClass)" id="table_next">
                    <a href="#" aria-controls="table" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>