@model IBasePagedList

@{
    var previousPageActiveClass = Model.HasPreviousPage ? "" : "disabled";
    var nextPageActiveClass = Model.HasNextPage ? "" : "disabled";
}

<div class="row">
    <div class="col-sm-12">
        @if (Model.HasPreviousPage || Model.HasNextPage)
        {
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item @(previousPageActiveClass)">
                        <a asp-route-pageIndex="@(Model.PageIndex - 1)" class="page-link">قبلی</a>
                    </li>

                    @if (Model.PageIndex > 2)
                    {
                        <li class="page-item">
                            <a asp-route-pageIndex="1" class="page-link">1</a>
                        </li>
                        <li class="page-item">
                            <a href="#" class="page-link">...</a>
                        </li>
                    }
                    @if (Model.PageIndex > 1)
                    {
                        <li class="page-item">
                            <a asp-route-pageIndex="@(Model.PageIndex - 1)" class="page-link">@(Model.PageIndex - 1)</a>
                        </li>
                    }

                    <li class="page-item active">
                        <a asp-route-pageIndex="@(Model.PageIndex)" class="page-link">@(Model.PageIndex)</a>
                    </li>

                    @if (Model.TotalPages > Model.PageIndex)
                    {
                        <li class="page-item">
                            <a asp-route-pageIndex="@(Model.PageIndex + 1)" class="page-link">@(Model.PageIndex + 1)</a>
                        </li>
                    }
                    @if (Model.TotalPages > Model.PageIndex + 1)
                    {
                        <li class="page-item">
                            <a href="#" class="page-link">...</a>
                        </li>
                        <li class="page-item">
                            <a asp-route-pageIndex="@(Model.TotalPages)" class="page-link">@(Model.TotalPages)</a>
                        </li>
                    }

                    <li class="page-item @(nextPageActiveClass)">
                        <a asp-route-pageIndex="@(Model.PageIndex + 1)" class="page-link">بعدی</a>
                    </li>
                </ul>
            </nav>
        }
    </div>
</div>
